.todo-list table{
    width: 100%;
    border-collapse: collapse;
}

.todo-list th, .todo-list td{
 
    padding: 8px;
    text-align: center;
}

.todo-list button{
    padding: 6px 12px;
    background-color:   #008CBA;
    color:   white;
    border:   none;
    cursor:   pointer;
}